.header {
  font-size: 32px;
  line-height: 44px;
  font-weight: 600;
  padding: 10px 0 5px 50px;
  color: white;
  background-color: #FF8A80;
  animation: fadeIn 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.header_link {
  text-decoration: none;
  color: inherit;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}