.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
  animation: fadeIn 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
  transition: opacity 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.hide {
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.items_close {
  position: absolute;
  top: 17px;
  right: 19px;
  cursor: pointer;
}

.items_close * {
  pointer-events: none;
}

.items_wrapper {
	box-sizing: border-box;
	position: relative;
	top: 7.5vh;
	width: 650px;
	margin: auto;
	background-color: #FFFAFA;
	border-radius: 10px;
	box-shadow: 0 10px 50px rgba(0,0,0,0.2);
	text-align: center;
	padding: 30px 0;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.3s 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0px); }
}

.items_title {
}

.inputPref_box {
	box-shadow: 0 10px 50px rgba(0,0,0,0.2);
	width: 500px;
	position: relative;
	display: inline-block;
	top: 7.5vh;
	left: 50%;
  opacity: 0; 
  transform: translateX(-50%) translateY(10px);
  animation: fadeInUpX 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
	padding: 30px;
	border-radius: 10px;
}

@keyframes fadeInUpX {
  from { opacity: 0; transform: translateX(-50%) translateY(10px); }
  to { opacity: 1; transform: translateX(-50%) translateY(0px); }
}

.label, 
.p {
	font-weight: 500;
	font-size: 12px;
}

.input_title {
	text-align: center;
	font-size: 24px;
} 

.input_form {
	width: 60%;
	margin: auto;
	margin-top: 30px;
}

.input_form p {
	padding-top: 30px;
	font-size: 14px;
}

.text_input {
	width: 100%;
	font-size: 14px;
	padding: 5px;
	background-color: rgba(0,0,0,0);
	border-style: solid;
	border-width: 0 0 2px 0;
	border-color: #FF8A80;
  box-sizing: border-box;
}

.text_input_wrapper {
  position: relative;
}

.text_input_wrapper::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(0,0,0,0);
  box-shadow: 0 1px 5px rgba(0,0,0,0.15);

}

.price_input {
	margin: 0 25px 0 4px;
	cursor: pointer;
	outline: 2px solid #FF8A80;
}

.distance {
	display: block;
	margin-top: 30px;
}

.submit {
	position: relative;
	display: block;
	margin: 30px auto 0;
	color: white;
	font-size: 18px;
	font-weight: 500;
	padding: 6px 15px;
	border-radius: 50px;
	background-color: #FF8A80;
	box-shadow: 0 5px 20px rgba(255, 138, 128, 0.5);
  transition: box-shadow 0.1s cubic-bezier(0.4, 0.0, 0.2, 1);
	cursor: pointer;
}
.submit::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.1s cubic-bezier(0.4, 0.0, 0.2, 1);
}
.submit:active {
  box-shadow: 0 2px 10px rgba(255, 138, 128, 1);
}
.submit:active::after {
  background-color: rgba(0,0,0,0.15);
}

.inputPref_box label{
	font-size: 14px;
}

.restaurant_wrapper {
	margin-top: 15px;
	height: 450px;
	overflow-y: auto;
	overflow-x: hidden;
}

.restaurant_item_wrapper {
	position: relative;
	background-color: #FFFAFA;
	padding: 10px;
	text-align: left;
	font-size: 12px;
	cursor: pointer;
  animation: fadeIn 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
}
.restaurant_item_wrapper * {
  position: relative;
  z-index: 1;
}

.restaurant_item_wrapper::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,138,128,0.1);
	transition: background-color 0.1s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.selected::after {
	background-color: rgba(255,138,128,0.5) !important;
}

.restaurant_item_wrapper:nth-child(2n+1)::after {
	background-color: rgba(0,0,0,0);
}

.restaurant_main {
	margin-left: 10px;
	display: inline-block;
}

.restaurant_main h4 {
	font-size: 16px;
}

.restaurant_img {
	width: 60px;
	height: 60px;
	border-radius: 5px;
	float: left;
}

.restaurant_ratings_wrapper {
	line-height: 20px;
	margin-bottom: 2px;
}

.restaurant_aside {
	float: right;
	text-align: right;
}

.restaurant_category {
	line-height: 24px;
}

.restaurant_distance {
	line-height: 20px;
}

.star {
	fill: #FF8A80;
	vertical-align: bottom;
}

.showbox {
	box-sizing: border-box;
	width: 650px;
	padding: 15px;
	line-height: 0px;
}
.loading {
  text-align: center;
}
.loading .circular {
  width: 80px;
  height: 80px;
}

.circular {
  animation: rotate 2s linear infinite;
  height: 50px;
  transform-origin: center center;
  width: 50px;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
	stroke: #FF8A80;
}

.checkbox {
  position: absolute;
  width: 16px;
  height: 16px;
  transform: translateY(5px);
  margin-left: 5px;
  opacity: 0;
  cursor: pointer;
}
.checkbox + span {
  display: inline-block;
  box-sizing: border-box;
  margin-left: 5px;
  margin-right: 15%;
  transform: translateY(2px);
  width: 16px;
  height: 16px;
  border-radius: 5px;
  box-shadow: 0 2.5px 5px rgba(255,138,128,0.5);
  pointer-events: none;
  border: none;
  border: 1.5px solid rgba(255,138,128,1);
}
.checkbox + span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 16px;
  width: 16px;
  border-radius: 5px;
  transform: translate(-50%,-50%) scale(0);
  background-color: #FF8A80;
  pointer-events: none;
  transition: all 0.15s cubic-bezier(0.4, 0.0, 0.2, 1);
}
.checkbox + span.active::before {
  transform: translate(-50%,-50%) scale(1);
}
.checkbox_check {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  overflow: hidden;
}

.price_input_wrapper {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.price_input_wrapper label {
  position: absolute;
  line-height: 24px;
}

@keyframes rotate {
  100% {
	  transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

