html, 
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
}

#root {
  width: 100vw;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: #4A4A4A;
  background-color: #FFFAFA;
}

h2,
h4,
h6,
p {
  margin: 0;
  padding: 0;
}

input,
button {
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
  color: #4A4A4A;
}

section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
  pointer-events: none;
}

section * {
  pointer-events: auto;
}

.react-draggable-dragging {
  box-shadow: 0 10px 50px rgba(0,0,0,0.2);
  transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1),
              transform 0s cubic-bezier(0.4, 0.0, 0.2, 1) !important;
}

@media (max-width: 500px) {
  input,
  select:focus {
    font-size: 16px !important;
  }

  .rc-slider-handle {
    width: 20px !important;
    height: 20px !important;
    margin-top: -7px !important;
  }
}
